@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-primary-500;
}

.btn {
  @apply py-4 px-8 min-w-[190px] rounded-lg leading-none;
}

/* color */
.btn-primary {
  @apply text-white border-2 bg-primary-500 border-primary-500  hover:bg-transparent hover:text-primary-500;
}

.btn-white {
  @apply text-primary-500 bg-white border-2 border-white hover:bg-transparent hover:text-white;
}

.btn-accent {
  @apply text-primary-500 bg-accent-500 border-2 border-accent-500 hover:bg-transparent;
}

/* size */
.btn-small {
  @apply py-3 px-6 min-w-[140px] rounded-none;
}

/* modifiers */
.btn-accent-hover-solid {
  @apply text-primary-500 bg-accent-500 border-2 border-accent-500 hover:bg-accent-400 hover:border-accent-400;
}


/* .dropdown-menu-wrapper {
  position: relative;
} */

/* .dropdown-first {
  max-height:0;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 84px;
  -webkit-transition: max-height .4s ease-in-out .4s;
     -moz-transition: max-height .4s ease-in-out .4s;
       -o-transition: max-height .4s ease-in-out .4s;
      -ms-transition: max-height .4s ease-in-out .4s;
          transition: max-height .4s ease-in-out .4s;
}
.dropdown-second {

  max-height:0;
  overflow: hidden;
  position: absolute;
  left: 330px;
  right:0;
  top: 0;
  -webkit-transition: max-height .4s ease-in-out .4s;
     -moz-transition: max-height .4s ease-in-out .4s;
       -o-transition: max-height .4s ease-in-out .4s;
      -ms-transition: max-height .4s ease-in-out .4s;
          transition: max-height .4s ease-in-out .4s;
}
.dropdown-tree {
  max-height:0;
  overflow: hidden;
  position: absolute;
  left: 200;
  right:0;
  top: 0;
  -webkit-transition: max-height .4s ease-in-out .4s;
     -moz-transition: max-height .4s ease-in-out .4s;
       -o-transition: max-height .4s ease-in-out .4s;
      -ms-transition: max-height .4s ease-in-out .4s;
          transition: max-height .4s ease-in-out .4s;
}

.solutions:hover .dropdown-first {
  max-height: 30em;
}
.test:hover .dropdown-second {
  max-height: 30em;
}
.test1:hover .dropdown-tree {

  max-height:700px;

} */
/* .first{

  width: 700px;
  top: 54px;
  left: -225px;
  position: absolute;
} */
.dropdown {
  margin-right: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown li {
}

.dropdown li a {
  color:black;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.dropdown li ul {
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  line-height: normal;
  background-color: #fff;
}

.dropdown li ul li a {
  text-align: left;
  font-size: 14px;
  padding: 10px;
  display: block;
  white-space: nowrap;
}

.dropdown li ul li a:hover {
  color: black;
}

.dropdown li ul li ul {
  width: 100%;
  position: absolute;
  left: 100%;
  top: -1px;
}

ul li:hover>a {
  color: black;
}

ul li:hover>ul {
  padding: 2.75rem 0 2.75rem 2.75rem;
  height: 640px;
  left: 0;
  color: black;
  display: block;
}
.last{
  padding: 0 !important;
  height: 100% !important;
  width: 200% !important;
}
.last-block {
  height: 584px;
}
.arrow{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
 position: absolute;
}
