<section class="py-11 text-white bg-[#032D42] ">
  <div class="container md:mx-auto px-4">
    <div class="text-4xl mb-6">Speak with a pro</div>
    <div class="leading-normal mb-6 text-2xl">Connect wit experts at Procise to explore solutions and deliver business
      outcomes for your technology challenges.</div>
    <button class="group relative  btn overflow-hidden rounded-lg  text-lg shadow border-solid border-2 border-white ">
      <div class="absolute inset-0 w-0 bg-white transition-all duration-[250ms] ease-out group-hover:w-full "></div>
      <span class="relative text-white group-hover:text-[#293E40]">Contact us</span>
    </button>
  </div>
</section>
<footer>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-10 py-11 container md:mx-auto px-4">
    <div class="flex flex-col justify-between items-start">
      <img src="/assets/logo.png" alt="company logo" class="w-[141px] h-[39px] mb-4"/>
      <img src="/assets/servicenow_badge.png" alt="" class="w-[125px] h-[125px]">
    </div>
    <div>
      <div class="mb-6 text-3xl md:text-lg font-bold opacity-70">Company</div>
      <a class="mb-4 text-lg md:text-sm block" href="/{{page.lang}}/customers">Customers</a>
      <a class="mb-4 text-lg md:text-sm block" href="/{{page.lang}}/about-us">About</a>
      {# <a class="mb-4 text-sm block" href="/{{page.lang}}/career">Career</a> #}
    {# <a class="mb-4 text-sm block" href="/{{page.lang}}/locations">Locations</a> #}
      {# <a class="mb-4 text-sm block" href="/{{page.lang}}/partners">Partners</a> #}
    </div>
    {# <div>
              <div class="mb-6 text-lg font-bold opacity-70">Resources</div>
              <a class="mb-4 text-sm block">Customer stories</a>
              <a class="mb-4 text-sm block">ServiceNow</a>
              <a class="mb-4 text-sm block">ExpertsNow</a>
            </div> #}
    <div>
      <div class="mb-6 text-3xl md:text-lg font-bold opacity-70">Locations</div>
      <div class="mb-2">
        <div class="text-xl md:text-base">
          <b>Germany</b>
        </div>
        <div class="text-lg md:text-sm">Fellnerstrasse 5 60322 Frankfurt am Main</div>
      </div>
      <div class="mb-2">
        <div class="text-xl md:text-base">
          <b>Poland</b>
        </div>
        <div class="text-lg md:text-sm">ul. Szosa Chełmińska 26/509 87-100 Toruń</div>
      </div>
      <div class="mb-2">
        <div class="text-xl md:text-base">
          <b>Estonia</b>
        </div>
        <div class="text-lg md:text-sm">TBD</div>
      </div>
    </div>
    <div>
      <div class="mb-6 text-3xl md:text-lg  font-bold opacity-70">Connect with us</div>
      <a class="mb-4 text-lg md:text-sm block" href="https://www.linkedin.com/company/procise-gmbh/" target="_blank">LinkedIn</a>
    </div>
  </div>
  <div class="border-t border-gray-200">
    <div class="py-6 container px-4 md:mx-auto">
      <div class="font-bold mb-5">The world works with ServiceNow™</div>
      <div class="flex flex-col md:flex-row">
        <a class="mb-4 md:mb-0 mr-10 text-xs" href="/{{page.lang}}/legal">Legal stuff</a>
        <a class="mb-4 md:mb-0 mr-10 text-xs" href="/{{page.lang}}/cookies">Cookie policy</a>
        {# <a class="mb-4 md:mb-0 mr-10 text-xs">Cookie Preferences</a> #}
        <a class="mb-4 md:mb-0 mr-10 text-xs">@2023 Procise. All rights reserved.</a>
      </div>
    </div>
  </div>
</footer>