<footer>
  <div class="grid grid-cols-4 gap-4 p-11">
    <div class="flex flex-col justify-between items-start">
      <img src="/assets/logo.png" alt="company logo"/>
      <img src="/assets/servicenow_badge.png" alt="">
    </div>

    <div>
      <div class="mb-6 text-lg  font-bold opacity-70">Company</div>
      <a class="mb-4 text-sm block">About</a>
      <a class="mb-4 text-sm block">Career</a>
      <a class="mb-4 text-sm block">Locations</a>
      <a class="mb-4 text-sm block">Partners</a>
    </div>

    <div>
      <div class="mb-6 text-lg  font-bold opacity-70">Resources</div>
      <a class="mb-4 text-sm block">Customer stories</a>
      <a class="mb-4 text-sm block">ServiceNow</a>
      <a class="mb-4 text-sm block">ExpertsNow</a>
    </div>

    <div>
      <div class="mb-6 text-lg  font-bold opacity-70">Connect with us</div>
    </div>
  </div>

  <div class="border-t border-gray-200 p-11 py-6">
    <div class="font-bold mb-5">The world works with ServiceNow™</div>
    <div class="flex">
      <div class="mr-10 text-xs">Privacy statement</div>
      <div class="mr-10 text-xs">Cookie policy</div>
      <div class="mr-10 text-xs">Cookie Preferences</div>
      <div class="mr-10 text-xs">@2023 Procise. All rights reserved.</div>
    </div>
  </div>
</footer>
