<section class="py-11 text-white bg-[#032D42] ">
  <div class="container mx-4 md:mx-0">
    <div class="text-4xl mb-6">Speak with a pro</div>
    <div class="leading-normal mb-6 text-2xl">Connect wit experts at Procise to explore solutions and deliver business
      outcomes for your technology challenges.</div>
    <button class="group relative  btn overflow-hidden rounded-lg  text-lg shadow border-solid border-2 border-white ">
      <div class="absolute inset-0 w-0 bg-white transition-all duration-[250ms] ease-out group-hover:w-full "></div>
      <span class="relative text-white group-hover:text-[#293E40]">Contact us</span>
    </button>
  </div>
</section>

<footer>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 py-11 container mx-4 md:mx-0">
    <div class="flex flex-col justify-between items-start">
      <img src="/assets/logo.png" alt="company logo"class="w-[141px] mb-4"/>
      <img src="/assets/servicenow_badge.png" alt="" class="w-[125px]">
    </div>
    <div>
      <div class="mb-6 text-lg  font-bold opacity-70">Company</div>
      <a class="mb-4 text-sm block">About</a>
      <a class="mb-4 text-sm block">Career</a>
      <a class="mb-4 text-sm block">Locations</a>
      <a class="mb-4 text-sm block">Partners</a>
    </div>
    <div>
      <div class="mb-6 text-lg  font-bold opacity-70">Resources</div>
      <a class="mb-4 text-sm block">Customer stories</a>
      <a class="mb-4 text-sm block">ServiceNow</a>
      <a class="mb-4 text-sm block">ExpertsNow</a>
    </div>
    <div>
      <div class="mb-6 text-lg  font-bold opacity-70">Connect with us</div>
    </div>
  </div>

  <div class="border-t border-gray-200">
    <div class="py-6 container  mx-4 md:mx-0">
      <div class="font-bold mb-5">The world works with ServiceNow™</div>
      <div class="flex">
        <div class="mr-10 text-xs">Privacy statement</div>
        <div class="mr-10 text-xs">Cookie policy</div>
        <div class="mr-10 text-xs">Cookie Preferences</div>
        <div class="mr-10 text-xs">@2023 Procise. All rights reserved.</div>
      </div>
    </div>
  </div>
</footer>
