<header class="py-5 px-6 flex justify-between items-center">
  <div class="flex items-center">
    <img src="/assets/logo.png" alt="company logo" class="mr-10"/>
    <nav>
      <ul class="flex">
        <li class="mr-10">Solutions</li>
        <li class="mr-10">Productions</li>
        <li class="mr-10">Customers</li>
        <li class="mr-10">About</li>
      </ul>
    </nav>

  </div>

  <div class="flex items-center">
    <button class="btn btn-primary btn-small">
      Get Started
    </button>

    <button class="ml-6">
      <img src="/assets/scope.png" alt="search"/>
    </button>
    <button class="ml-6">
      <img src="/assets/world.png" alt="search"/>
    </button>
    <button class="ml-6">
      <img src="/assets/account.png" alt="search"/>
    </button>
  </div>
</header>
