---
layout: layouts/base.njk
---

<section class="relative">
  <div class="grid grid-cols-1 md:grid-cols-2 text-[#293E40] md:absolute container inset-0">
    <div class="py-11 px-6 flex flex-col items-start justify-center mx-4 md:mx-auto">
      <div class="font-bold text-5xl mb-9">{{ hero.title }}</div>
      <div class=" leading-normal text-2xl mb-9">{{ hero.subtitle }}</div>
      {% if hero.buttonLabel %}
        <button class="group relative btn overflow-hidden rounded-lg bg-white text-lg shadow border-solid border-2 border-primary-500 ">
          <div class="absolute inset-0 w-0 bg-[#2a3d40] transition-all duration-[250ms] ease-out group-hover:w-full"></div>
          <span class="relative text-black group-hover:text-white">{{ hero.buttonLabel }}</span>
        </button>
      {% endif %}
    </div>
    <div></div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 text-[#293E40] mb-[122px]">
    <div></div>

    <div>
      <img src={{ hero.image }} alt="" class="object-cover w-full h-full max-h-[680px]"/>
    </div>
  </div>
</section>

{% for section in contentSections %}
  <section class="mb-[7rem]" id="{{section.title | slugify}}">
    <div class="container grid grid-cols-1 md:grid-cols-2 gap-10 text-[#293E40] ">
      {% if section.imageOnTheRight %}
        <div class="py-11 flex flex-col items-start justify-center mx-4 md:mx-auto">
          <div class="text-3xl mb-9 font-bold">{{ section.title }}</div>
          <div class=" leading-normal text-xl mb-9">{{ section.subtitle }}</div>
          {% if section.buttonLabel %}
            <button class="group relative btn overflow-hidden rounded-lg bg-white text-lg shadow border-solid border-2 border-primary-500 ">
              <div class="absolute inset-0 w-0 bg-[#2a3d40] transition-all duration-[250ms] ease-out group-hover:w-full"></div>
              <span class="relative text-black group-hover:text-white">{{ section.buttonLabel }}</span>
            </button>
          {% endif %}
        </div>
        <div>
          <img src={{ section.image }} alt="" class="object-contain w-full h-[360px]"/></div>
      {% else %}
        <div>
          <img src={{ section.image }} alt="" class="object-contain w-full h-[360px]"/></div>
        <div class="py-11 flex flex-col items-start justify-center mx-4 md:mx-auto">
          <div class="text-3xl mb-9 font-bold">{{ section.title }}</div>
          <div class=" leading-normal text-xl mb-9">{{ section.subtitle }}</div>
          {% if hero.buttonLabel %}
            <button class="group relative btn overflow-hidden rounded-lg bg-white text-lg shadow border-solid border-2 border-primary-500 ">
              <div class="absolute inset-0 w-0 bg-[#2a3d40] transition-all duration-[250ms] ease-out group-hover:w-full"></div>
              <span class="relative text-black group-hover:text-white">{{ section.buttonLabel }}</span>
            </button>
          {% endif %}
        </div>
      {% endif %}
    </div>

  </section>
{% endfor %}
