---
layout: layouts/home.njk
---

<h1 class="text-red-500">
	Name - {{someData.name}}

	{% for link in page.url | locale_links %}
  123
    {# {%- if not loop.first %}/{% endif %} #}
    <a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">{{
      link.label
    }}</a>
  {% endfor %}
</h1>

