---
layout : layouts/home.njk
---

<section class="bg-[#112C40] relative mb-20">
  <div class="grid grid-cols-1 md:grid-cols-2 md:absolute inset-0 container">
    <div class="py-11 px-6 flex flex-col items-start justify-center">
      <div class="text-white text-5xl mb-6 leading-1-25">YOUR
        <span class="text-accent-500">TRUSTED</span>
        ADVISOR</div>
      <div class="text-white leading-normal text-2xl mb-6">
        You are stuck or need an assessment? We help you get things under control before, during or even after a ServiceNow
        implementation.
      </div>
      <button class="group relative btn overflow-hidden rounded-lg bg-accent-500 text-lg shadow border-solid border-2
          border-accent-500">
        <div class="absolute inset-0 w-0 bg-accent-400 transition-all duration-[250ms] ease-out group-hover:w-full"></div>
        <span class="relative text-black ">Get In Touch</span>
      </button>
    </div>
    <div></div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div></div>
    <div class="">
      <img src="/assets/bjorn.png" alt="" class="w-full h-full object-cover max-h-[680px] md:min-h-[550px]"/>
    </div>
  </div>
</section>

<section class="mb-20">
  <div class="container grid grid-cols-1 md:grid-cols-2 py-11 gap-10 md:mx-auto px-4">
    <div class="w-full">
      <img src="/assets/ports.png" alt="" class=" "/>
    </div>
    <div class="flex flex-col justify-center items-start">
      <div class="mb-6 text-4xl">Workflow Excellence</div>
      <div class="leading-normal mb-6 text-xl">
        Behind every great experience is a great workflow. As the foundation for all digital workflows, the Now Platform
        connects people, functions, and systems across your organization.
      </div>
      <button class="group relative btn overflow-hidden rounded-lg bg-white text-lg shadow border-solid border-2 border-accent-500 ">
        <div class="absolute inset-0 w-0 bg-accent-500 transition-all duration-[250ms] ease-out group-hover:w-full"></div>
        <span class="relative text-black ">Contact Us</span>
      </button>
    </div>
  </div>
</section>
